body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: Merriweather, serif;
}

h1 {
  font-family: Sacramento;
  font-size: 90px;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: Montserrat;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  margin: 0 auto 0 auto;
  padding: 0;
}

h3 {
  font-family: Montserrat;
  color: #11999E;
}

hr {
  width: 5%;
  margin: 90px auto 90px auto;
  border: none;
  border-top: 4px dotted #40514E;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
}

.top-container {
  background:  #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-picture {
  border-radius: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}


.middle-container {

}

.skills {
}

.skill-row {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}

.html-css {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.social-media {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row p {

}

.contact-message {
  margin-bottom: 50px;
}

.contact-button {
   border-top: 1px solid #66bfbf;
   background: #008282;
   background: -webkit-gradient(linear, left top, left bottom, from(#66bfbf), to(#008282));
   background: -webkit-linear-gradient(top, #66bfbf, #008282);
   background: -moz-linear-gradient(top, #66bfbf, #008282);
   background: -ms-linear-gradient(top, #66bfbf, #008282);
   background: -o-linear-gradient(top, #66bfbf, #008282);
   padding: 18.5px 37px;
   -webkit-border-radius: 32px;
   -moz-border-radius: 32px;
   border-radius: 32px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: Montserrat;
   text-decoration: none;
   vertical-align: middle;
   }
.contact-button:hover {
   border-top-color: #0fc4c4;
   background: #0fc4c4;
   color: #ffffff;
   }
.contact-button:active {
   border-top-color: #66bfbf;
   background: #66bfbf;
   }

.bottom-container {
 margin-top: 90px;
 background:  #66BFBF;
 height: 250px;
 margin-bottom: 0;
}

.footer-link {
  display: inline-block;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.footer-link a:hover {
  color: #EAF6F6
}

.freepik-credit {
  color: #EAF6F6;
  margin-top: 50px;
  margin-bottom: 30px;
}

.freepik-credit a {
    text-decoration: none;
}

.copyright {
  color: #EAF6F6;
}
